#banner {
  text-align: center;
  height: 200px;
  display: table-cell;
  vertical-align: middle; }

.h-Center {
  text-align: center; }

.v-Center {
  display: table-cell;
  vertical-align: middle; }
