.qtipShadow {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75); }

.selfClear:before,
.selfClear:after {
  content: "";
  display: table; }

.selfClear:after {
  clear: both; }

.quotation {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #ed9014;
  color: #333333;
  padding: 15px;
  padding-left: 50px;
  background-image: url("../images/quotation_left.png");
  background-repeat: no-repeat;
  background-position: 10px 10px; }
  .quotation .quotationRight {
    padding-right: 10px;
    background-image: url("../images/quotation_right.png");
    background-repeat: no-repeat;
    background-position: bottom right; }

.content h1 {
  -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  margin-top: 15px;
  background: #333333;
  color: #fff;
  padding-left: 15px; }
.content h1:first-child {
  margin-top: 0; }

.section {
  background: #eeeeee;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  margin-bottom: 15px; }

/*==============================
Donation Page*/
#donationWrapper {
  width: 100%;
  float: left;
  margin-right: -215px; }
  #donationWrapper #donationLeft {
    margin-right: 215px; }

#paypal {
  float: right;
  width: 200px;
  background: #f4bd73; }
  #paypal #paypalActual {
    background: #f4bd73; }
