.accordionHeader {
  color: #444;
  cursor: pointer;
  padding: 5px 15px;
  -webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.3);
  background: #dddddd;
  border-bottom: 1px solid #d0d0d0; }

.accordionContent {
  margin-top: 5px;
  padding: 15px;
  background: #eeeeee; }
  .accordionContent *:last-child {
    margin-bottom: 0; }
  .accordionContent a {
    text-decoration: none;
    font-weight: bold;
    color: #cf9e03; }
    .accordionContent a:hover {
      color: #fcc822; }
