#matrix tr td input[type="text"] {
  border: none;
  outline-width: 0;
  width: 3em; }
#matrix tr td input[type="text"]:focus {
  -webkit-box-shadow: 0px 0px 6px black;
  -moz-box-shadow: 0px 0px 6px black;
  box-shadow: 0px 0px 6px black; }

/*input boxes */
.inputWrapper {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: 0;
  background: #FFF; }

.inputWrapper:hover, .inputWrapper:focus {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: #faa71a 1px solid; }
