/*http://adobe.ly/1gaWpUM*/
/*self Clear*/
.selfClear:before, #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper:before, .accordionHeaderWrapper:before,
.selfClear:after,
#matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper:after,
.accordionHeaderWrapper:after {
  content: "";
  display: table; }

.selfClear:after, #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper:after, .accordionHeaderWrapper:after {
  clear: both; }

html, body {
  margin: 0;
  padding: 0; }

body {
  background: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black; }

a, img {
  border: none; }

#globalWrapper {
  position: relative; }

.belt, #wrapper {
  max-width: 1000px;
  margin: auto; }

#wrapper {
  padding-bottom: 3em; }

a {
  color: #ed9014;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

/*font-size resets*/
h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0; }

#wrapper p {
  margin-top: 0; }
#wrapper h1 {
  font-size: 2em;
  font-weight: 300; }
#wrapper h2 {
  font-size: 1.7em;
  font-weight: 300; }
#wrapper h3 {
  font-size: 1.4em;
  font-weight: 300; }

/*reusable cross site styles */
.dropShadow {
  -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  background-color: #eeeeee;
  padding: 15px; }

.fadedLine {
  border: none;
  height: 1px;
  background: #f2e3d3;
  background: -moz-radial-gradient(center, ellipse cover, #f2a33c 0%, #f2a33c 64%, rgba(242, 163, 60, 0) 71%, rgba(242, 163, 60, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f2a33c), color-stop(64%, #f2a33c), color-stop(71%, rgba(242, 163, 60, 0)), color-stop(100%, rgba(242, 163, 60, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #f2a33c 0%, #f2a33c 64%, rgba(242, 163, 60, 0) 71%, rgba(242, 163, 60, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #f2a33c 0%, #f2a33c 64%, rgba(242, 163, 60, 0) 71%, rgba(242, 163, 60, 0) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #f2a33c 0%, #f2a33c 64%, rgba(242, 163, 60, 0) 71%, rgba(242, 163, 60, 0) 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #f2a33c 0%, #f2a33c 64%, rgba(242, 163, 60, 0) 71%, rgba(242, 163, 60, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2a33c', endColorstr='#00f2a33c',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.fadedLineDarker {
  border: none;
  height: 1px;
  background: #f2e3d3;
  margin-bottom: 15px;
  background: -moz-radial-gradient(center, ellipse cover, #cea563 0%, #cea563 64%, rgba(206, 165, 99, 0) 71%, rgba(206, 165, 99, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #cea563), color-stop(64%, #cea563), color-stop(71%, rgba(206, 165, 99, 0)), color-stop(100%, rgba(206, 165, 99, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #cea563 0%, #cea563 64%, rgba(206, 165, 99, 0) 71%, rgba(206, 165, 99, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #cea563 0%, #cea563 64%, rgba(206, 165, 99, 0) 71%, rgba(206, 165, 99, 0) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #cea563 0%, #cea563 64%, rgba(206, 165, 99, 0) 71%, rgba(206, 165, 99, 0) 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #cea563 0%, #cea563 64%, rgba(206, 165, 99, 0) 71%, rgba(206, 165, 99, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cea563', endColorstr='#00cea563',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

/*==============================*/
/*header*/
header {
  -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  width: 100%;
  background: #333333;
  margin-bottom: 15px; }
  header a#logoWrapper {
    display: block;
    float: left; }
    header a#logoWrapper #logo {
      float: left; }
  header ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    header ul li {
      display: inline-block;
      float: left;
      padding: 0 5px 0 5px;
      border-right: #222 solid 1px;
      border-left: #444 solid 1px; }
      header ul li:last-child {
        border-right: none; }
      header ul li:first-child {
        border-left: none; }
      header ul li:hover {
        background: #444444; }
    header ul a, header ul a:visited {
      line-height: 50px;
      height: 50px;
      color: #dddddd;
      display: block;
      text-decoration: none;
      font-size: 16px;
      padding: 0px 20px; }
      header ul a:hover, header ul a:visited:hover {
        color: #fff;
        text-decoration: none; }

/*matrix */
#matrixWrapper {
  width: 100%;
  float: left;
  margin-right: -315px; }
  #matrixWrapper #matrixWrapperInner {
    margin-right: 315px; }
    #matrixWrapper #matrixWrapperInner #matrixOptions {
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 15px; }
      #matrixWrapper #matrixWrapperInner #matrixOptions input[type="text"] {
        padding: 10px;
        width: 3em; }
      #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper {
        display: inline-block;
        /*float elements directly inside to the left*/ }
        #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper .comboLabel {
          margin-right: 4px;
          margin-left: 0px;
          font-weight: 300;
          font-size: 20px;
          color: #333333; }
        #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper > input {
          height: 32px; }
        #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper > * {
          float: left; }
        #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper .plusMinusWrapper input {
          height: 50%;
          display: block;
          width: 20px;
          height: 16px;
          border: none;
          cursor: pointer;
          margin: 0;
          padding: 0;
          background: url("../images/upDownSprites.png") #f2e3d3; }
        #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper .plusMinusWrapper input:hover {
          background: url("../images/upDownSprites.png") #dddddd; }
        #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper .plusMinusWrapper input.buttonPlus {
          background-position: left; }
        #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper .plusMinusWrapper input.buttonMinus {
          background-position: right; }
      #matrixWrapper #matrixWrapperInner #matrixOptions #clearAll {
        font-size: 20px;
        font-weight: 200;
        border: none;
        background: #f2e3d3;
        height: 32px;
        float: right;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer; }
        #matrixWrapper #matrixWrapperInner #matrixOptions #clearAll:active {
          background: #f4e8db; }
    #matrixWrapper #matrixWrapperInner #matrixCanvas {
      /*ACTUAL MATRIX TABLE INSIDE THIS CANVAS*/
      overflow: auto;
      background-color: #f4bd73; }

#help {
  margin-top: 15px;
  background: #3083b2;
  color: #f4f4f4;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4); }
  #help:hover {
    background: #5ca8d3; }

#helpContent {
  background: #eeeeee;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4); }
  #helpContent #launchTour {
    display: block;
    width: 200px;
    text-align: center;
    padding: 15px;
    background: #3083b2;
    color: #eeeeee;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px; }
    #helpContent #launchTour:hover {
      background: #479dce; }

/*output column stuff*/
#sideBar {
  float: right;
  width: 300px; }
  #sideBar .dropShadow .outputHeaderWrapper:first-child {
    margin-top: 0; }
  #sideBar .outputHeaderWrapper {
    margin-top: 15px;
    position: relative; }
    #sideBar .outputHeaderWrapper h3 {
      margin: 0 0 0 0;
      display: inline;
      float: left; }
      #sideBar .outputHeaderWrapper h3 a {
        color: black;
        text-decoration: none; }
        #sideBar .outputHeaderWrapper h3 a:visited {
          color: black; }
        #sideBar .outputHeaderWrapper h3 a:hover {
          color: #f4bd73; }
    #sideBar .outputHeaderWrapper span.warning {
      font-style: italic;
      padding: 2px;
      display: none;
      position: absolute;
      right: 0; }
  #sideBar #latexButtons {
    /* how to make select buttons http://viralpatel.net/blogs/css-radio-button-checkbox-background/*/
    margin-left: 10px;
    float: right; }
    #sideBar #latexButtons input[type=radio] {
      display: none; }
    #sideBar #latexButtons label {
      cursor: pointer;
      font-size: 20px;
      display: inline-block;
      padding: 0px 4px;
      vertical-align: middle;
      line-height: 160%;
      margin: 0px;
      border-right: 1px solid #EEE;
      background: #EEE; }
      #sideBar #latexButtons label:hover {
        background: #f2e3d3; }
    #sideBar #latexButtons label:last-child {
      border: none; }
    #sideBar #latexButtons input[type=radio]:checked + label {
      background-color: #f4bd73; }
  #sideBar input {
    display: block;
    width: 100%; }
  #sideBar #paypalButton {
    display: block;
    width: 100px;
    text-align: center;
    padding: 15px;
    background: #f4bd73;
    color: #333333;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px; }
    #sideBar #paypalButton:hover {
      background: #f8d3a2; }

/*history column*========================*/
.historyColumnWrapper {
  padding: 1em; }

/*footer*=====================*/
#footer {
  font-size: .7em;
  height: 20px;
  width: 100%;
  padding: 0;
  background: #333333;
  text-align: center;
  color: #aaaaaa; }
  #footer #footerPadding {
    padding: 3px; }

/*input boxes */
input, textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 2px;
  border: solid 1px #E5E5E5;
  outline: 0;
  background: #F7f7f7; }

input:hover, textarea:hover,
input:focus, textarea:focus {
  border-color: #c9c9c9; }

input, textarea {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0.1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0.1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0.1px; }

/*  autoclearing  */
/*comments*/
.commentsWrapper {
  background: #eeeeee;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4); }

/*sticky, responsive footer stuff*/
html, body {
  height: 100%; }

#footer {
  display: table-row;
  height: 1px; }

#globalWrapper {
  table-layout: fixed;
  display: table;
  height: 100%;
  width: 100%; }

/*responsive stuff*/
@media only screen and (max-width: 580px) {
  header img {
    max-width: 100%; }

  #matrixWrapper {
    width: 100%;
    margin-right: 0;
    float: none;
    margin-bottom: 15px; }
    #matrixWrapper #matrixWrapperInner {
      margin-right: 0px; }

  #sideBar {
    width: 100%;
    float: none; } }
/*qtip2 styling*/
.qtip_orange {
  border: none;
  background-color: #f4bd73;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75); }

.qtip_light {
  border: none;
  background-color: #eeeeee;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75); }

/* load all other styles after main*/
/*http://adobe.ly/1gaWpUM*/
/*self Clear*/
.selfClear:before, #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper:before, .accordionHeaderWrapper:before,
.selfClear:after,
#matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper:after,
.accordionHeaderWrapper:after {
  content: "";
  display: table; }

.selfClear:after, #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper:after, .accordionHeaderWrapper:after {
  clear: both; }

.accordionHeaderWrapper {
  color: #333333;
  background: #f4bd73;
  cursor: pointer;
  padding: 5px 15px;
  -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  border-bottom: 1px #f4f4f4; }
  .accordionHeaderWrapper:hover {
    background: #f8d3a2; }
  .accordionHeaderWrapper .accordionHeader {
    float: left; }
  .accordionHeaderWrapper .accordionHeaderIcon {
    float: left;
    margin-right: 15px;
    width: 24px;
    height: 24px;
    background: url("../images/accordionSprites.png");
    background-position: top left; }
  .accordionHeaderWrapper .ac-hover.accordionHeaderIcon {
    background-position: bottom left; }
  .accordionHeaderWrapper .accordionHeaderIcon.ac-down {
    background-position: bottom right; }

.accordionContent {
  margin-top: 5px;
  padding: 15px;
  background: #eeeeee; }
  .accordionContent *:last-child {
    margin-bottom: 0; }

/*http://adobe.ly/1gaWpUM*/
/*self Clear*/
.selfClear:before, #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper:before, .accordionHeaderWrapper:before,
.selfClear:after,
#matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper:after,
.accordionHeaderWrapper:after {
  content: "";
  display: table; }

.selfClear:after, #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper:after, .accordionHeaderWrapper:after {
  clear: both; }

.quotation {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #ed9014;
  color: #333333;
  padding: 15px;
  padding-left: 50px;
  background-image: url("../images/quotation_left.png");
  background-repeat: no-repeat;
  background-position: 10px 10px; }
  .quotation .quotationRight {
    padding-right: 10px;
    background-image: url("../images/quotation_right.png");
    background-repeat: no-repeat;
    background-position: bottom right; }

.content h1 {
  -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  margin-top: 15px;
  background: #333333;
  color: #fff;
  padding-left: 15px; }
.content h1:first-child {
  margin-top: 0; }

.section {
  background: #eeeeee;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  margin-bottom: 15px; }

/*==============================
Donation Page*/
#donationWrapper {
  width: 100%;
  float: left;
  margin-right: -215px; }
  #donationWrapper #donationLeft {
    margin-right: 215px; }

#paypal {
  float: right;
  width: 200px;
  background: #f4bd73; }
  #paypal #paypalActual {
    background: #f4bd73; }

#matrix {
  position: relative;
  /*to keep input boxes with table when popped out*/ }
  #matrix tr td input[type="text"] {
    border: none;
    outline-width: 0;
    width: 3em; }
  #matrix tr td input[type="text"]:focus {
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

/*input boxes */
.inputWrapper {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: 0;
  background: #FFF; }

.inputWrapper:hover, .inputWrapper:focus {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: #faa71a 1px solid; }
