.qtipShadow, .matrix_qtip {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75); }

.selfClear:before,
.selfClear:after {
  content: "";
  display: table; }

.selfClear:after {
  clear: both; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black; }

a, img {
  border: none; }

#globalWrapper {
  position: relative;
  min-height: 100%; }

.belt, #wrapper {
  max-width: 1000px;
  margin: auto; }

#wrapper {
  padding-bottom: 3em; }

a {
  color: #ed9014;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

/*font-size resets*/
h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0; }

#wrapper p {
  margin-top: 0; }
#wrapper h1 {
  font-size: 2em;
  font-weight: 300; }
#wrapper h2 {
  font-size: 1.8em;
  font-weight: 300; }
#wrapper h3 {
  font-size: 1.2em;
  font-weight: 400; }

/*reusable cross site styles */
.dropShadow {
  -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  background-color: #eeeeee;
  padding: 15px; }

.fadedLine {
  border: none;
  height: 1px;
  background: #f2e3d3;
  background: -moz-radial-gradient(center, ellipse cover, #f2a33c 0%, #f2a33c 64%, rgba(242, 163, 60, 0) 71%, rgba(242, 163, 60, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f2a33c), color-stop(64%, #f2a33c), color-stop(71%, rgba(242, 163, 60, 0)), color-stop(100%, rgba(242, 163, 60, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #f2a33c 0%, #f2a33c 64%, rgba(242, 163, 60, 0) 71%, rgba(242, 163, 60, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #f2a33c 0%, #f2a33c 64%, rgba(242, 163, 60, 0) 71%, rgba(242, 163, 60, 0) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #f2a33c 0%, #f2a33c 64%, rgba(242, 163, 60, 0) 71%, rgba(242, 163, 60, 0) 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #f2a33c 0%, #f2a33c 64%, rgba(242, 163, 60, 0) 71%, rgba(242, 163, 60, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2a33c', endColorstr='#00f2a33c',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.fadedLineDarker {
  border: none;
  height: 1px;
  background: #f2e3d3;
  margin-bottom: 15px;
  background: -moz-radial-gradient(center, ellipse cover, #cea563 0%, #cea563 64%, rgba(206, 165, 99, 0) 71%, rgba(206, 165, 99, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #cea563), color-stop(64%, #cea563), color-stop(71%, rgba(206, 165, 99, 0)), color-stop(100%, rgba(206, 165, 99, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #cea563 0%, #cea563 64%, rgba(206, 165, 99, 0) 71%, rgba(206, 165, 99, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #cea563 0%, #cea563 64%, rgba(206, 165, 99, 0) 71%, rgba(206, 165, 99, 0) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #cea563 0%, #cea563 64%, rgba(206, 165, 99, 0) 71%, rgba(206, 165, 99, 0) 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #cea563 0%, #cea563 64%, rgba(206, 165, 99, 0) 71%, rgba(206, 165, 99, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cea563', endColorstr='#00cea563',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

/*==============================*/
/*header*/
header {
  -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  width: 100%;
  background: #333333;
  margin-bottom: 15px; }
  header a#logoWrapper {
    display: block;
    float: left; }
    header a#logoWrapper #logo {
      float: left; }
  header ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    header ul li {
      display: inline-block;
      float: left;
      padding: 0 5px 0 5px;
      border-right: #222 solid 1px;
      border-left: #444 solid 1px; }
      header ul li:last-child {
        border-right: none; }
      header ul li:first-child {
        border-left: none; }
      header ul li:hover {
        background: #444444; }
    header ul a, header ul a:visited {
      line-height: 50px;
      height: 50px;
      color: #dddddd;
      display: block;
      text-decoration: none;
      font-size: 16px;
      padding: 0px 20px; }
      header ul a:hover, header ul a:visited:hover {
        color: #fff;
        text-decoration: none; }

/*matrix */
#matrixWrapper {
  width: 100%;
  float: left;
  margin-right: -315px; }
  #matrixWrapper #matrixWrapperInner {
    margin-right: 315px; }
    #matrixWrapper #matrixWrapperInner #matrixOptions {
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 15px; }
      #matrixWrapper #matrixWrapperInner #matrixOptions input[type="text"] {
        padding: 10px;
        width: 3em; }
      #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper {
        /*float elements directly inside to the left*/ }
        #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper .comboLabel {
          margin-right: 4px;
          margin-left: 0px;
          font-weight: 300;
          font-size: 20px;
          color: #333333; }
        #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper > input {
          height: 32px; }
        #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper > * {
          float: left; }
        #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper .plusMinusWrapper input {
          height: 50%;
          display: block;
          width: 20px;
          height: 16px;
          border: none;
          cursor: pointer;
          margin: 0;
          padding: 0; }
        #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper .plusMinusWrapper input.buttonPlus {
          background-image: url("../images/button_plus.png"); }
        #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper .plusMinusWrapper input.buttonPlus:active {
          background-position: right; }
        #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper .plusMinusWrapper input.buttonMinus {
          background-image: url("../images/button_minus.png"); }
        #matrixWrapper #matrixWrapperInner #matrixOptions .comboWrapper .plusMinusWrapper input.buttonMinus:active {
          background-position: right; }
      #matrixWrapper #matrixWrapperInner #matrixOptions input#clearAll {
        margin-left: 15px;
        border: none;
        background-image: url("../images/clear.png");
        width: 78.5px;
        height: 32px;
        background-position: left;
        float: right; }
        #matrixWrapper #matrixWrapperInner #matrixOptions input#clearAll:active {
          background-position: left; }
    #matrixWrapper #matrixWrapperInner #matrixCanvas {
      /*ACTUAL MATRIX TABLE INSIDE THIS CANVAS*/
      overflow: auto;
      background-color: #f4bd73; }

/*output column stuff*/
#outputColumn {
  float: right;
  width: 300px; }
  #outputColumn .dropShadow .outputHeaderWrapper:first-child {
    margin-top: 0; }
  #outputColumn .outputHeaderWrapper {
    margin-top: 15px;
    position: relative; }
    #outputColumn .outputHeaderWrapper h3 {
      margin: 0 0 0 0;
      display: inline;
      float: left; }
      #outputColumn .outputHeaderWrapper h3 a {
        color: black;
        text-decoration: none; }
        #outputColumn .outputHeaderWrapper h3 a:visited {
          color: black; }
        #outputColumn .outputHeaderWrapper h3 a:hover {
          color: #f4bd73; }
    #outputColumn .outputHeaderWrapper span.warning {
      font-style: italic;
      padding: 2px;
      display: none;
      position: absolute;
      right: 0; }
  #outputColumn #latexButtons {
    /* how to make select buttons http://viralpatel.net/blogs/css-radio-button-checkbox-background/*/
    margin-left: 10px;
    float: right; }
    #outputColumn #latexButtons input[type=radio] {
      display: none; }
    #outputColumn #latexButtons label {
      cursor: pointer;
      font-size: 14px;
      display: inline-block;
      padding: 0px 4px;
      vertical-align: middle;
      line-height: 160%;
      margin: 0px;
      border-right: 1px solid #EEE;
      background: #EEE; }
      #outputColumn #latexButtons label:active {
        background: #fff; }
    #outputColumn #latexButtons label:last-child {
      border: none; }
    #outputColumn #latexButtons input[type=radio]:checked + label {
      background-color: #F7f7f7; }
      #outputColumn #latexButtons input[type=radio]:checked + label:active {
        background: #fff; }
  #outputColumn input {
    display: block;
    width: 100%; }
  #outputColumn #paypalButton {
    background-image: url("../images/donateIcon1.png");
    background-position: left;
    width: 270px;
    height: 54px; }
    #outputColumn #paypalButton:hover {
      background-position: right; }

/*history column*========================*/
.historyColumnWrapper {
  padding: 1em; }

/*footer*=====================*/
#footer {
  font-size: .7em;
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 100%;
  padding: 0;
  background: #333333;
  text-align: center;
  color: #aaaaaa; }
  #footer #footerPadding {
    padding: 3px; }

/*input boxes */
input, textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 2px;
  border: solid 1px #E5E5E5;
  outline: 0;
  background: #F7f7f7; }

input:hover, textarea:hover,
input:focus, textarea:focus {
  border-color: #c9c9c9; }

input, textarea {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0.1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0.1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0.1px; }

/*  autoclearing  */
/*comments*/
.commentsWrapper {
  background: #eeeeee;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4); }

/*responsive stuff*/
@media only screen and (max-width: 580px) {
  header img {
    max-width: 100%; }

  #matrixWrapper {
    width: 100%;
    margin-right: 0;
    float: none;
    margin-bottom: 15px; }
    #matrixWrapper #matrixWrapperInner {
      margin-right: 0px; }

  #outputColumn {
    width: 100%;
    float: none; } }
/*qtip2 styling*/
.matrix_qtip {
  border: none;
  background-color: #f4bd73; }
