/*color declarations*/
/*global padding, margin settings */
/*clean slate*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: #fafafa;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em; }

a, img {
  border: none; }

#globalWrapper {
  position: relative;
  min-height: 100%; }

.belt, #wrapper {
  max-width: 1000px;
  margin: auto; }

#wrapper {
  padding-bottom: 3em; }

/*font resets*/
h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0; }

#wrapper p {
  margin-top: 0; }
#wrapper h1 {
  font-size: 2em; }
#wrapper h2 {
  font-size: 1.8em; }
#wrapper h3 {
  font-size: 1.2em; }

/*temporary background colors */
.dropShadow {
  -webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.3);
  background-color: #eeeeee;
  padding: 15px; }

/*==============================*/
/*header*/
header {
  -webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.3);
  padding: 2px 0px 2px 0px;
  width: 100%;
  background: #fcc822;
  margin-bottom: 15px; }
  header #logo {
    float: left;
    margin-left: 15px; }
  header #logoText {
    color: #333;
    float: left;
    font-size: 30px;
    margin-left: 20px; }
    header #logoText:hover {
      color: #FFF; }
  header ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    header ul li {
      display: inline;
      float: left;
      padding: 0 5px 0 5px;
      border-right: #FFE0B2 solid 1px; }
    header ul li:last-child {
      border-right: none; }
    header ul a, header ul a:visited {
      color: #333;
      display: block;
      text-decoration: none;
      font-size: 16px; }
      header ul a:hover, header ul a:visited:hover {
        color: #FFF; }

/*matrix */
#wrapper #matrixWrapper {
  width: 100%;
  float: left;
  margin-right: -315px; }
  #wrapper #matrixWrapper #matrixWrapperInner {
    margin-right: 315px; }
    #wrapper #matrixWrapper #matrixWrapperInner #matrixOptions {
      margin-bottom: 15px; }
      #wrapper #matrixWrapper #matrixWrapperInner #matrixOptions input[type="text"] {
        width: 3em; }
      #wrapper #matrixWrapper #matrixWrapperInner #matrixOptions input[type="button"] {
        background: #fcc822; }
    #wrapper #matrixWrapper #matrixWrapperInner #matrixCanvas {
      /*ACTUAL MATRIX TABLE INSIDE THIS CANVAS*/
      overflow: auto; }

/*output column stuff*/
#outputColumn {
  float: right;
  width: 300px; }
  #outputColumn .dropShadow .outputHeaderWrapper:first-child {
    margin-top: 0; }
  #outputColumn .outputHeaderWrapper {
    margin-top: 15px;
    position: relative; }
    #outputColumn .outputHeaderWrapper h3 {
      margin: 0 0 0 0;
      display: inline;
      float: left; }
      #outputColumn .outputHeaderWrapper h3 a {
        text-decoration: none; }
        #outputColumn .outputHeaderWrapper h3 a:visited {
          color: black; }
        #outputColumn .outputHeaderWrapper h3 a:hover {
          color: #fcc822; }
    #outputColumn .outputHeaderWrapper #latexButtons {
      /* how to make select buttons http://viralpatel.net/blogs/css-radio-button-checkbox-background/*/
      margin-left: 10px;
      float: right; }
      #outputColumn .outputHeaderWrapper #latexButtons input[type=radio] {
        display: none; }
      #outputColumn .outputHeaderWrapper #latexButtons label {
        display: inline-block;
        padding: 2px 5px;
        margin: -2px;
        border-right: 1px solid #EEE;
        background: #DDD; }
      #outputColumn .outputHeaderWrapper #latexButtons label:last-child {
        border: none; }
      #outputColumn .outputHeaderWrapper #latexButtons input[type=radio]:checked + label {
        background-color: #fcc822; }
    #outputColumn .outputHeaderWrapper span.warning {
      font-style: italic;
      padding: 2px;
      display: none;
      position: absolute;
      right: 0; }
  #outputColumn input {
    display: block;
    width: 100%; }

/*history column*========================*/
.historyColumnWrapper {
  padding: 1em; }

/*footer*=====================*/
#footer {
  font-size: .6em;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0; }
  #footer #footerPadding {
    padding: 15px; }

/*input boxes */
input, textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 2px;
  border: solid 1px #E5E5E5;
  outline: 0;
  background: #F7f7f7; }

input:hover, textarea:hover,
input:focus, textarea:focus {
  border-color: #c9c9c9; }

input, textarea {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px; }

/*  autoclearing  */
.selfClear:before,
.selfClear:after {
  content: "";
  display: table; }

.selfClear:after {
  clear: both; }

/*responsive stuff*/
@media only screen and (max-width: 580px) {
  header img {
    max-width: 100%; }

  #matrixWrapper {
    width: 100%;
    margin-right: 0;
    float: none;
    margin-bottom: 15px; }
    #matrixWrapper #matrixWrapperInner {
      margin-right: 0px; }

  #outputColumn {
    width: 100%;
    float: none; } }
/*qtip2 styling*/
.matrix_qtip {
  background-color: #fcc822; }
