$bodyBackground:#f4f4f4;
$hoverBorder:#C9C9C9;

$orange:#f7c36f;
$lightOrange:#f7dbad;
$darkOrange: darken($orange, 15%);
$fontColor:#000;


$grey1:#AAA;
$grey2:#DDD;
$grey3:#EEE;
$grey4:#f4f4f4;

$dark1:#333;
$dark2:#444;
$dark3:#777;

$globalPadding:15px;

@mixin boxSizing() {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

@mixin dropShadow(){
    -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 0px 1px rgba(50, 50, 50, 0.2);
    box-shadow:        0px 0px 1px rgba(50, 50, 50, 0.2);
}

$textShadow: 0px 0px 1px rgba(0, 0, 0, 0.5);