$bodyBackground:#f4f4f4;
$hoverBorder:#C9C9C9;

$orange:#f4bd73;
$darkOrange: darken($orange, 20%);
$buttonOrange:#f2e3d3;
$buttonHover:#DDD;
$fontColor:#000;
$blue1:#3083B2;
$blue2:#78CDFF;
/*http://adobe.ly/1gaWpUM*/

$grey1:#AAA;
$grey2:#DDD;
$grey3:#EEE;
$grey4:#f4f4f4;

$dark1:#333;
$dark2:#444;
$dark3:#777;

$globalPadding:15px;

@mixin corner3{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

@mixin boxSizing() {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

@mixin dropShadow(){
    -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    0px 0px 1px rgba(50, 50, 50, 0.4);
    box-shadow:        0px 0px 1px rgba(50, 50, 50, 0.4);
}

@mixin fadingRadial(){
    background: -moz-radial-gradient(center, ellipse cover,  rgba(242,163,60,1) 0%, rgba(242,163,60,1) 64%, rgba(242,163,60,0) 71%, rgba(242,163,60,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(242,163,60,1)), color-stop(64%,rgba(242,163,60,1)), color-stop(71%,rgba(242,163,60,0)), color-stop(100%,rgba(242,163,60,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(242,163,60,1) 0%,rgba(242,163,60,1) 64%,rgba(242,163,60,0) 71%,rgba(242,163,60,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(242,163,60,1) 0%,rgba(242,163,60,1) 64%,rgba(242,163,60,0) 71%,rgba(242,163,60,0) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(242,163,60,1) 0%,rgba(242,163,60,1) 64%,rgba(242,163,60,0) 71%,rgba(242,163,60,0) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(242,163,60,1) 0%,rgba(242,163,60,1) 64%,rgba(242,163,60,0) 71%,rgba(242,163,60,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2a33c', endColorstr='#00f2a33c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

@mixin fadingRadialDark(){
    background: -moz-radial-gradient(center, ellipse cover,  rgba(206,165,99,1) 0%, rgba(206,165,99,1) 64%, rgba(206,165,99,0) 71%, rgba(206,165,99,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(206,165,99,1)), color-stop(64%,rgba(206,165,99,1)), color-stop(71%,rgba(206,165,99,0)), color-stop(100%,rgba(206,165,99,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(206,165,99,1) 0%,rgba(206,165,99,1) 64%,rgba(206,165,99,0) 71%,rgba(206,165,99,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(206,165,99,1) 0%,rgba(206,165,99,1) 64%,rgba(206,165,99,0) 71%,rgba(206,165,99,0) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(206,165,99,1) 0%,rgba(206,165,99,1) 64%,rgba(206,165,99,0) 71%,rgba(206,165,99,0) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(206,165,99,1) 0%,rgba(206,165,99,1) 64%,rgba(206,165,99,0) 71%,rgba(206,165,99,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cea563', endColorstr='#00cea563',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin qtipShadow(){
    -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.75);
}

/*self Clear*/
.selfClear:before,
.selfClear:after {
    content:"";
    display:table;
}
.selfClear:after {
    clear:both;
}