#banner{
    text-align:center;
    height:200px;
    display: table-cell;
    vertical-align: middle;
    #bannerTitle{

    }
}
.content{

}
.h-Center{
    text-align:center;
}
.v-Center{
    display:table-cell;
    vertical-align:middle;
}