@import "_variables";
.content{
    h1{
        @include dropShadow;
        margin-top:$globalPadding;
        background:$dark1;
        color:$grey3;
        padding-left:$globalPadding;
    }
    h1:first-child{margin-top:0;}
}
.aboutSection{
    background:$grey3;
    padding:$globalPadding;
    @include dropShadow;
    margin-bottom:$globalPadding;
}

/*==============================
Donation Page*/
#donationWrapper{
    float:left;
    margin-right:-215px;
    #donationLeft{
        margin-right:215px;
    }
    
}

#paypal{
    float:right;
    width:200px;
}
