@import "_variables";

.accordionHeader{
    color:$dark1;
    background:$lightOrange;
    cursor: pointer;
    padding:5px $globalPadding;
    @include dropShadow;
    &:hover{background:lighten($lightOrange,10%);}
    border-bottom:1px solid $dark3;
}
.accordionContent{
    margin-top:5px;
    padding:$globalPadding;
    background:$grey4;
    *:last-child{margin-bottom:0;}
    a{text-decoration:none; font-weight:bold; color:$orange;
      &:hover{color:$orange;}
    }

}
