@import "_variables";

.accordionHeaderWrapper{
    color:$dark1;
    background:$lightOrange;
    cursor: pointer;
    padding:5px $globalPadding;
    @include dropShadow;
    @extend .selfClear;
    &:hover{background:lighten($lightOrange,10%);}
    border-bottom:1px $grey4;
    .accordionHeader{
        float:left;
    }
    .accordionHeaderIcon{
        float:left;
        margin-right:$globalPadding;
        width:24px;
        height:24px;
        background:url("../images/dropHor.png");
    }
    .accordionHeaderIcon.accordion-hover{
        background-position:right;
    }
    .accordionHeaderIcon.accordion-down{
        background:url("../images/dropVer.png")
    }
    .accordionHeaderIcon.accordion-down.accordion-hover{
        background-position:right;
    }
}

.accordionContent{
    margin-top:5px;
    padding:$globalPadding;
    background:$grey4;
    *:last-child{margin-bottom:0;}
    a{text-decoration:none; font-weight:bold; color:$orange;
      &:hover{color:$orange;}
    }

}
