@import "_variables";

.accordionHeaderWrapper{
    color:$dark1;
    background:$orange;
    cursor: pointer;
    padding:5px $globalPadding;
    @include dropShadow;
    @extend .selfClear;
    &:hover{background:lighten($orange,10%);}
    border-bottom:1px $grey4;
    .accordionHeader{
        float:left;
    }
    .accordionHeaderIcon{
        float:left;
        margin-right:$globalPadding;
        width:24px;
        height:24px;
        background:url("../images/accordionSprites.png");
        background-position:top left;
    }
    .accordionHeaderIcon.accordion-hover{
        background-position:bottom left;
    }
    .accordionHeaderIcon.accordion-down{
        background-position:bottom right;
    }
    .accordionHeaderIcon.accordion-down.accordion-hover{
        background-position:top right;
    }
}

.accordionContent{
    margin-top:5px;
    padding:$globalPadding;
    background:$grey3;
    *:last-child{margin-bottom:0;}
}
