@import "_variables";
html,body{
    height:100%;
    margin:0;
    padding:0;
}
body{background:$bodyBackground;
     font-family: 'Open Sans', sans-serif;
     font-size:14px;
     color:$fontColor;
}
a, img {
    border:none;
}

#globalWrapper{
    position:relative;
    min-height:100%;
}
.belt {
    max-width:1000px;
    margin:auto;
}
#wrapper{
    @extend .belt;
    padding-bottom:3em;
}
a{
    color:$darkOrange;
    &:hover{text-decoration:underline;}
    text-decoration:none;
}
/*font-size resets*/
h1, h2, h3, h4, h5 {padding:0; margin:0;}
#wrapper{
    p{margin-top:0;}
    h1{font-size:2em; font-weight:300;}
    h2{font-size:1.8em; font-weight:300;}
    h3{font-size:1.2em; font-weight:400;}
}



/*reusable cross site styles */
.dropShadow{
    @include dropShadow;
    background-color:$grey3;
    padding:$globalPadding;
}

.fadedLine{
    border:none;
    height:1px;
    background:$lightOrange;
    @include fadingRadial;
}
.fadedLineDarker{
    border:none;
    height:1px;
    background:$lightOrange;
    margin-bottom:$globalPadding;
    @include fadingRadialDark;
}
/*==============================*/


/*header*/
header{
    @include dropShadow;
    width:100%;
    background: $dark1;
    margin-bottom:$globalPadding;
    a#logoWrapper{
        display:block;
        float:left;
        #logo{
            float:left;
        }
    }
    ul {
        float:right;
        list-style-type:none;
        margin:0;
        padding:0;
        li {
            display:inline-block; 
            float:left;
            padding: 0 5px 0 5px;
            border-right:#222 solid 1px;
            &:last-child{border-right:none;}
            border-left:#444 solid 1px;
            &:first-child{border-left:none;}
            &:hover{background:$dark2;}
        }
        a, a:visited{
            line-height:50px;
            height:50px;
            color:$grey2;
            display:block;
            text-decoration:none;
            font-size:16px;

            padding:0px 20px;
            &:hover{color:#fff; text-decoration:none;}
        }
    } 
}

/*matrix */

#matrixWrapper{
    width:100%;
    float:left;
    margin-right:-315px;
    #matrixWrapperInner{
        margin-right:315px;
        #matrixOptions{
            padding-top:5px;
            padding-bottom:5px;
            margin-bottom:$globalPadding;
            input[type="text"]{padding:10px;width:3em;}
            .comboWrapper{
                .comboLabel{
                    margin-right:4px;
                    margin-left:0px;
                    font-weight:300;
                    font-size:20px;
                    color:$dark1;
                }
                >input{height:32px;}
                >*{float:left;} /*float elements directly inside to the left*/
                .plusMinusWrapper{
                    input{height:50%; display:block; width:20px;height:16px; border:none;
                          cursor: pointer; margin:0; padding:0;
                    }
                    input.buttonPlus{background-image:url('../images/button_plus.png');}
                    input.buttonPlus:active{background-position: right;}
                    input.buttonMinus{background-image:url('../images/button_minus.png');}
                    input.buttonMinus:active{background-position: right;}
                }

            }
            #clearAll{
                font-size:20px;
                font-weight:200;
                border:none;
                background:$lightOrange;
                height:32px;
                float:right;
                padding-left:$globalPadding;
                padding-right:$globalPadding;
                cursor: pointer;
                &:active{background:lighten($lightOrange, 2%);}
            }
        }
        #matrixCanvas{
            /*ACTUAL MATRIX TABLE INSIDE THIS CANVAS*/
            overflow: auto;
            background-color:$orange;
        }
    }
}



/*output column stuff*/

#outputColumn {
    float:right;
    width:300px;
    .dropShadow .outputHeaderWrapper:first-child{margin-top:0;}
    .outputHeaderWrapper{
        margin-top:15px;
        position:relative;
        h3{margin:0 0 0 0; display:inline; float:left;
           a{   color:$fontColor;
                text-decoration:none;
                &:visited{color:$fontColor}
                &:hover{color:$orange;}
           }
        }
        span.warning{
            font-style:italic;
            padding:2px;
            display:none;
            position:absolute;
            right:0;
        }
    }
    .outputFieldWrapper{
    }
    #latexButtons{
        /* how to make select buttons http://viralpatel.net/blogs/css-radio-button-checkbox-background/*/
        margin-left:10px;
        float:right;
        input[type=radio]{display:none;}
        label{
            cursor: pointer;
            font-size:14px;
            display:inline-block; 
            padding:0px 4px;
            vertical-align: middle;
            line-height:160%;
            margin:0px;
            border-right:1px solid #EEE;
            background:#EEE;
            &:active{background:#fff;}
        }
        label:last-child{border:none;}
        input[type=radio]:checked + label { 
            background-color:#F7f7f7;
            &:active{background:#fff;}
        }
    }
    input{display:block; width: 100%;}


    #paypalButton{
        background-image: url("../images/donateIcon1.png");
        background-position:left;
        width:270px;
        height:54px;
        &:hover{background-position:right;}
    }

}


/*history column*========================*/
.historyColumnWrapper{
    padding:1em;
}
/*footer*=====================*/
#footer{
    font-size:.7em;
    position:absolute;
    bottom:0;
    height:20px;
    width:100%;
    padding:0;
    background:$dark1;
    text-align:center;
    color:$grey1;
    #footerPadding{
        padding:3px;
    }
}

/*input boxes */
input, textarea {
    @include boxSizing;
    padding: 2px;
    border: solid 1px #E5E5E5;
    outline: 0;
    background: #F7f7f7;
}

input:hover, textarea:hover,
input:focus, textarea:focus { 
    border-color: $hoverBorder; 
}

input, textarea {
    box-shadow: rgba(0,0,0, 0.4) 0px 0px .1px;
    -moz-box-shadow: rgba(0,0,0, 0.4) 0px 0px .1px;
    -webkit-box-shadow: rgba(0,0,0, 0.4) 0px 0px .1px;
}

/*  autoclearing  */


/*comments*/
.commentsWrapper{
    background:$grey3;
    padding:$globalPadding;
    @include dropShadow;
}

/*responsive stuff*/
@media only screen and (max-width: 580px) {
    header{
        img{max-width:100%;}
    }
    #matrixWrapper{
        width:100%;margin-right:0;float:none;
        margin-bottom:$globalPadding;
        #matrixWrapperInner{margin-right:0px;}
    }
    #outputColumn{
        width:100%;float:none;
    }
}

/*qtip2 styling*/

.matrix_qtip{border:none;background-color:$orange; @extend .qtipShadow}
