/*color declarations*/
$colBackground:#CCC;
$bodyBackground:#BBB;
$hoverBorder:#C9C9C9;
$orange:#fcc822;

/*clean slate*/
h1, h2, h3, h4, h5 {padding:0; margin:0}
#wrapper{margin:0 5% 0 5%;}
body{background:$bodyBackground; 
     margin:0;
     font-family: 'Squada One', cursive;
     font-size:1.6em;
}
h3{font-size:1em;}

/*temporary background colors */
.col{background:$colBackground;}
/*==============================*/

/*header*/
header{
    display:block;
    background: $orange;
    #logo{float:left; margin-left:5%;}
    ul {
        float:right;
        list-style-type:none;
        margin-right:5%;
        padding:0;
        li {display:inline; 
            float:left;
            padding: 0 5px 0 5px;
            border-right: 1px solid grey;
        }
        a, a:visited{
            color:#fdfdfd;
            text-shadow: 0px 1px #1a1a1a;
            display:block;
            text-decoration:none;
        }
    } 
}


/*output column stuff*/

#outputColumn {
    h3{margin:10px 0 0 0;}
    input{display:block; width: 100%;}
    .ellipsisContainer{width:5px;}
}

.warning{background:#fdaeae; font-style:italic;
         img{float:right; margin-right:10px; margin-top:2px;}
}


/*history column*/
.historyColumnWrapper{
    padding:.6%;
}
/*footer*/
.footerColumnWrapper{padding:5%;}


/*input boxes */
input, textarea { 
    padding: 2px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    background: #FFFFFF;
}

input:hover, textarea:hover,
input:focus, textarea:focus { 
    border-color: $hoverBorder; 
}

.submit input {
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
}

input, textarea {
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
